#s2{
  width: 100%;
  height: 600px;

  
}#productpicture{
 
 
}#productdetails{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  gap: 1rem;
  padding: 2rem;
}

#productdetails,#productpicture{
  width: 100%;
  height: 590px;
}.pic{
  height: 30rem;
  width: 25rem;
  margin-top: 4rem;
}

#similar{
  padding: 2rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  margin-top: 5rem;
}#pic2{
width: 14rem;
height: 11rem;
}#title{
  font-size: x-large;
  font-weight: 700;
}#productcategory{
  color: rgb(72, 121, 22);
  font-size: larger;
  font-weight: 500;
}#productprice{
  font-size: xx-large;
  color: darkgoldenrod;
}
#productdescription{
  color: rgb(77, 77, 77);
  font-size: larger;
  line-height: normal;
}#s1{
  width: 100%;
  height: 600px;
}#details{
  height: 10rem;
}
.arcimg{
  height: 15rem;
  width: 14rem;
  margin-left: 1rem;
  margin-top: 1rem;
}.arc{
  width: 16rem;
  height: 29rem;
  border: 1px solid grey;
  background-color: white;
  margin: 0.5rem;

}#s3{
  background-color: rgba(99, 58, 16, 0.586);
  height: 2000px;
  width:100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
 
}.btn1{
  background-color: black;
  color: white;
  padding: 0.2rem;
  padding-left: 1rem;
  padding-right: 1rem;
 margin-left: 1rem;
}#productlist{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
  margin-left: 4rem;
  
 

}.price{
  color: gold;
  font-size:larger;
  font-weight: 600;
  padding: 1rem;
}.h4{
  padding: 1rem;
  color: cadetblue;
}.star{
  padding: 0.1rem;
  margin-left: 0.8rem;
  color: darkgreen;
}